*{
  box-sizing: border-box;
}

body{
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header{
  padding: 30px;
  font-size: 40px;
  text-align: center;//this is to make the text align to the center;
  background: white;
}

.leftcolumn{
  float: left;
  width: 75%;
}
.leftcolumnart{
  float: left;
  width: 100%;
}

.rightcolumn{
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimg{
  background-color: #aaa;
  width: 100%;
  padding:20px;
}

.card{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row::after{
  content: "";
  display: table;
  clear:both;
}

.footer{
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .imagesetting{
    background-image: url(../images/snowy-mountain-639x425.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 425px;
  }
  .leftcolumn, .rightcolumn{
    width: 100%;
    padding: 0;
  }
  img{
    width:100%;
  }
  .header{
    font-size: 1rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 1300px) {
  .imagesetting{
    background-image: url(../images/snowy-mountain-1279x852.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 852px;
  }
  img{
    width:90%;
  }
  .header{
    font-size: 2rem;
  }
}

@media screen and (min-width:1301px) {
  .imagesetting{
    background-image: url(../images/snowy-mountain-1599x1065.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1065px;
  }
  img{
    width:60%;
  }
  .header{
    font-size: 3rem;
  }
}
